<div class="sidebar" >
 
  <ul style="list-style-type: none; padding: 0">
    <li style="margin-bottom: 10px">
      <a
        href="#"
        
        (click)="onNavItemClick($event, 'about')"
        >About</a
      >
    </li>
    <li style="margin-bottom: 10px">
      <a
        href="#"
        
        (click)="onNavItemClick($event, 'users')"
        >Users</a
      >
    </li>
    <li style="margin-bottom: 10px">
      <a
        href="#"
        
        (click)="onNavItemClick($event, 'products')"
        >Products</a
      >
    </li>
    <li>
      <a
        href="#"
        
        (click)="onNavItemClick($event, 'settings')"
        >Settings</a
      >
    </li>
  </ul>


</div>