<nav class="navbar">
    <div class="logo">CareLocator</div>
    <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
    <div class="menu" id="menu">
        <a href="#">Home</a>
        <a href="#">About</a>
        
        <a href="#">Services <select name="" id="">
            <option value=""></option>
            <option value="10">s1</option>
            <option value="10">s2</option>
            <option value="10">s3</option>
        </select> </a>
        
        <a href="#">Contact</a>
    </div>
</nav>